In [1]:
import pandas as pd
dataset=pd.read_csv("general_data.csv")
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [2]:
dataset.Attrition=dataset.Attrition.map({"Yes":1,"No":0})
dataset.Gender=dataset.Gender.map({"Male":1,"Female":0})
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,0,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,1,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,1,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,1,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,1,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [3]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset.corr()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.006963,-0.035706,NaN,0.008649,-0.039352,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,-0.009730,-0.015111,NaN,-0.004729,0.018125,-0.010290,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
DistanceFromHome,0.006963,-0.009730,1.000000,-0.008638,NaN,-0.001097,-0.044173,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,-0.008638,1.000000,NaN,-0.009680,-0.016547,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.001097,-0.009680,NaN,1.000000,-0.013165,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
Gender,-0.039352,0.018125,-0.044173,-0.016547,NaN,-0.013165,1.000000,-0.026854,0.007530,-0.066924,0.011841,NaN,0.019237,-0.027598,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,-0.037329,0.045746,NaN,-0.003303,-0.026854,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.031176,-0.021607,0.006410,NaN,0.007338,0.007530,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,-0.013843,-0.016250,NaN,-0.001117,-0.066924,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.032533,0.038125,-0.040531,NaN,-0.004456,0.011841,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.011169,0.001261,NaN,-0.014254,0.019237,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.009374,-0.010717,NaN,-0.001063,-0.027598,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.009001,0.010472,NaN,-0.010191,-0.030167,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,0.031684,0.006080,NaN,0.004086,-0.017277,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,0.002290,0.022490,NaN,0.000256,-0.021812,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,0.021584,0.005358,NaN,0.008579,0.004438,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

# 1. correlation between attrition and distance from home

In [5]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print("correllation between Attrition and distanceFromHome is",stats,"and p value is",p)
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and distanceFromHome is -0.009730141010179438 and p value is 0.5182860428049617
accept null hypothesis

p>0.05,So Ho is accepted, DistanceFromHome is negatively correlated with Attrition rate

# 2. correlation between attrition and education

In [6]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.Education)
print("correllation between Attrition and education is",stats,"and p value is",p)
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and education is -0.015111167710968737 and p value is 0.3157293177118575
accept null hypothesis

p<0.05,So Ho is rejected, Age is not correlated with the Attrition rate

# 3.correlation between attrition and employee id

In [7]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.EmployeeID)
print("correllation between Attrition and education is",stats,"and p value is",p)
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and education is -0.004729122995065952 and p value is 0.7535487401882808
accept null hypothesis

p>=0.05,So Ho is accepted, EmployeeID is negavively correlated with attrition

# 4. correlation between attrition and percent salary hike

In [8]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.PercentSalaryHike)
print("correllation between Attrition and PercentSalaryHike is",stats,"and p value is",p)
    
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and PercentSalaryHike is 0.032532594891052195 and p value is 0.030743386433369824
reject null hypotesis

p<0.05,So Ho is rejected, Percent Salary Hike is not correlated with Artrition rate

# 5.correlation between attrition and stock option level

In [9]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.StockOptionLevel)
print("correllation between Attrition and StockOptionLevel is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and StockOptionLevel is -0.006838852403261021 and p value is 0.6498072937477383
accept null hypothesis

p>0.05,So Ho is accepted, StockOptionLevel has correlated with artrition rate

# 6.correlation between attrition and years with curr manager

In [15]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.YearsWithCurrManager)
print("correllation between Attrition and YearsWithCurrManager is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and YearsWithCurrManager is -0.15619931590162422 and p value is 1.7339322652951965e-25
reject null hypotesis

p<0.05,So Ho is rejected, YearsWithCurrManager is not correlated with the attrition rate

# 7.correlation between attrition and years at company

In [16]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.YearsAtCompany)
print("correllation between Attrition and YearsAtCompany is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and YearsAtCompany is -0.13439221398997386 and p value is 3.163883122493571e-19
reject null hypotesis

p<0.05,So Ho is rejected, Yearsatcompany is not correlated with the Attrition rate

# 8.Corrrelation between Attrition and TrainingTimesLastYear

In [17]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.TrainingTimesLastYear)
print("correllation between Attrition and TrainingTimesLastYear is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and TrainingTimesLastYear is -0.049430576244253066 and p value is 0.001024706191536548
reject null hypotesis

p<0.05,So Ho is rejected, TrainingTimeLastyear is not correlated with the Attrition rate

# 9.correlation between attrition and gender

In [20]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.Gender)
print("correllation between Attrition and Gender is",stats,"and p value is",p)    
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and Gender is 0.01812507887701033 and p value is 0.22881970951790567
accept null hypothesis

p>0.05,So Ho is accepted Gender is correlated with Attrition rate

# 10.correlation with attrition and age

In [19]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.Age)
print("correllation between Attrition and Gender is",stats,"and p value is",p)    
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and Gender is -0.15920500686577505 and p value is 1.996801615893171e-26
reject null hypotesis

p<0.05,So Ho is rejected, Age is not correlated with the Attrition rate